<div class="container">
<form>
<pre>
Enter JobTitle :			<input type="text" ng-model="job.jobTitle">
Enter Job Description :		<textarea rows="9" column="16" ng-model="job.jobDescription"></textarea>
Enter Skills Required :		<input type="text" ng-model="job.skillsRequired">			
Enter Salary :				<input type="text" ng-model="job.salary">
Enter Location :			<input type="text" ng-model="job.location">
Enter Company Name :		<input type="text" ng-model="job.companyname">
Enter Salary :				<input type="text" ng-model="job.salary">
Enter Years Of Experience : <input type="text" ng-model="job.yrsOfExp">
	<input type="submit" value="Add Job">

</pre>
</form>
</div>